
<div class="sidePanel">
  <ul class="decoration">
    <li>何去何從</li>
    <li>塑膠問題</li>
    <li>採取行動</li>
    <li>生活小調查</li>
    <li>關於我們</li>
    <li>參考資料</li>
  </ul>
  <ul class="menu">
    <li><a href="life.html" id="0">何去何從</a></li>
    <li><a href="problem.html" id="1">塑膠問題</a></li>
    <li><a href="takeAction.html" id="2">採取行動</a></li>
    <li><a class="survey" href="survey.html" id="3">生活小調查</a></li>
    <li><a href="about.html" id="4">關於我們</a></li>
    <li><a href="reference.html" id="5">參考資料</a></li>
  </ul>
</div>