
<div class="darkness"></div>
<div class="sidePanel">
  <div class="left">
    <div class="header-block"></div>
    <div class="menu-block">
      <ul class="menu">
        <li><a class="link survey" href="life.html" id="0">塑膠的一生</a></li>
        <li><a class="link" href="problem.html" id="1">塑膠問題</a></li>
        <li><a class="link" href="takeAction.html" id="2">採取行動</a></li>
        <li><a class="link survey" href="survey.html" id="3">生活小調查</a></li>
        <li class="button-wrap"><a class="button" href="about.html">製作團隊</a><a class="button" href="reference.html">參考資料</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <ul class="decoration">
      <li><img src="img/bottleFactory.jpg" alt=""/></li>
      <li><img src="img/pollutedBeach.jpg" alt=""/></li>
      <li><img src="img/takeAction.jpg" alt=""/></li>
      <li><img src="img/survey.jpg" alt=""/></li>
      <li><img src="img/blueLego.png" alt=""/></li>
    </ul>
  </div>
</div>