.loading-page
  #imgWrap
    img.wave(src="img/wave.svg", alt="")
    img#loadBottle(src="img/loadingBottle.png", alt="")
    img.wave.delay(src="img/wave.svg", alt="")
    img.wave.delay(src="img/wave.svg", alt="")
  h1 loading...