.sidePanel
    ul.decoration
        li 何去何從
        li 塑膠問題
        li 採取行動
        li 生活小調查
        li 關於我們
        li 參考資料
    ul.menu
        li
            a(href="life.html" id='0') 何去何從
        li
            a(href="problem.html" id='1') 塑膠問題
        li
            a(href="takeAction.html" id='2') 採取行動
        li
            a.survey(href="survey.html" id='3') 生活小調查
        li
            a(href="about.html" id='4') 關於我們
        li
            a(href="reference.html" id='5') 參考資料