.darkness
.sidePanel
  .left
    .header-block
    .menu-block
      ul.menu
        li
          a.link.survey(href="life.html" id='0') 塑膠的一生
        li
          a.link(href="problem.html" id='1') 塑膠問題
        li
          a.link(href="takeAction.html" id='2') 採取行動
        li
          a.link.survey(href="survey.html" id='3') 生活小調查
        li.button-wrap
          a.button(href="about.html") 製作團隊
          a.button(href="reference.html") 參考資料
  .right
    ul.decoration
      li
        img(src="img/bottleFactory.jpg", alt="")
      li
        img(src="img/pollutedBeach.jpg", alt="")
      li
        img(src="img/takeAction.jpg", alt="")
      li
        img(src="img/survey.jpg", alt="")
      li
        img(src="img/blueLego.png", alt="")