<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 塑膠危機 | 塑膠問題
    link(rel="shortcut icon" href="img/logo.png")
    link(rel="icon" type="image/png" href="img/logo.png" sizes="192x192")
    link(rel="apple-touch-icon" sizes="180x180" href="img/logo.png")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')
    link(rel='stylesheet' href='css/microplastic.css')
  body
    //include components/nav
    //include components/header
    include components/loading-page
    .top-link(style="background-color: #71C837") <i class="fas fa-arrow-up"></i>
    section#mpVid(style="background-color: #71C837;")
      h1.english(style="white-space: nowrap;") Eco Crisis
      svg.sectionBorder(xmlns='http://www.w3.org/2000/svg' width='1925' height='214.22595' viewbox='0 0 507.99999 56.68062' preserveaspectratio='xMidYMax meet')
        path(d='M0 42.62953C107.44235 42.24807 321.25799-1.0496 392.8862.01948c71.62824 1.06908 115.11381 15.50164 115.11381 15.50164v41.1595H0z' fill='#e6e6ea')
      #titleWrap
        a.returnBtn(href="problem.html#problems") <返回
        h1.title 生態浩劫
    section#why-harm-eco
      .container
        h1.wow.fadeInUp 為什麼塑膠對生態有害
        .flex-container 
          .left 
            .img 
              img.wow.fadeIn(src="img/seal.svg", alt="")
            article 
              h2.wow.fadeInUp 被塑膠所困
              p.wow.fadeIn(data-wow-delay="0.3s") 因為海洋充斥著塑膠垃圾，海洋生物被強迫生活在充滿塑膠垃圾的環境裡。這樣的環境對牠們來說是重大的威脅，在活動的時候一不小心可能就會將自己困在塑膠廢棄物中，如果沒有外力幫忙，恐怕一輩子都要過著塑膠卡在身上的痛苦生活。
          .right 
            article 
              h2.wow.fadeInUp 以為塑膠是食物
              p.wow.fadeIn(data-wow-delay="0.3s") 為了吸引我們的目光，激起我們的購買慾，塑膠製品有五彩繽紛的顏色，然而這些顏色不只吸引了我們，也吸引了野生動物的好奇心。 因為這些塑膠垃圾在水中飄動，看起來像食物，以及藻類附著在塑膠上散發食物的味道等種種因素，野生動物以為塑膠是食物把它吞下肚，但是塑膠無法被消化，因此塑膠垃圾就一直留在胃裡。更糟糕的是，因為塑膠積在胃中而產生飽足感，以為不餓所以不再進食，導致最後許多野生動物營養不良，暴斃海灘。
    section.hurt-animal#turtle
      .container 
        h1.wow.fadeInUp 因塑膠垃圾而受傷的動物
        .flex-container 
          .vid
            iframe.grafic.wow.fadeInLeft(width='560' height='315' src='https://www.youtube.com/embed/d2J2qdOrW44' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          .content 
            .img 
              img.wow.fadeInRight(src="img/turtle.svg", alt="")
            article 
              h2.wow.fadeInUp 海龜
              p.wow.fadeIn(data-wow-delay="0.3s") 吸管困在海龜的鼻孔裡，使其過這無法自由呼吸的生活。保育人員費了好大的力氣才把吸管從中拔除，卻也使海龜痛不欲身。
    section.hurt-animal#whale
      .container.flex-container 
        .content.desktop
          .img 
            img.wow.fadeInLeft(src="img/whale.png", alt="")
          article 
            h2.wow.fadeInUp 鯨魚
            p.wow.fadeIn(data-wow-delay="0.2s") 挪威近海發現一隻鯨魚，腹內塞了將近30個塑膠袋和其他塑膠廢物，因為胃裡塞滿塑膠無法進食，被活活餓死。
        .vid
          iframe.grafic.wow.fadeInRight(width='560' height='315' src='https://www.youtube.com/embed/DF6GfqG-IQE' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .content.mobile
          .img 
            img.wow.fadeInUp(src="img/whale.png", alt="")
          article 
            h2.wow.fadeInUp 鯨魚
            p.wow.fadeIn(data-wow-delay="0.2s") 挪威近海發現一隻鯨魚，腹內塞了將近30個塑膠袋和其他塑膠廢物，因為胃裡塞滿塑膠無法進食，被活活餓死。
    section.hurt-animal#seabird
      .container.flex-container 
        .vid
          img.grafic.wow.fadeInLeft(src="img/real-seabird.jpg", alt="")
        .content 
          article 
            h2.wow.fadeInUp 海鳥
            p.wow.fadeIn(data-wow-delay="0.2s") 研究小組估計，9成海鳥都吃過塑料，並且大約每年增長0.2%，推算到2050年，全球99.8%海鳥都會吃塑料。
          .img 
            img.wow.fadeInRight(src="img/pelican.svg", alt="")

    script(src='assets/js/jquery-3.4.1.min.js')
    script(src='js/components/nav.js')
    script(src='js/components/header.js')
    script(src='js/components/loading-page.js')
    script(src='js/components/top-link.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
    script new WOW({offset: 100}).init();