doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 塑膠危機
    link(rel="shortcut icon" href="img/logo.png")
    link(rel="icon" type="image/png" href="img/logo.png" sizes="192x192")
    link(rel="apple-touch-icon" sizes="180x180" href="img/logo.png")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
    link(rel='stylesheet' href='css/style.css')
    
  body
    include components/nav
    include components/header
    include components/loading-page
    svg#blueDecorate(xmlns='http://www.w3.org/2000/svg' width='587.555' height='479.265' viewbox='0 0 587.555 479.265' preserveAspectRatio="xMaxYMin meet")
      defs
        style.
          .cls-1{fill:#06f}
      path.cls-1(d='M405.158 0l-39.81 39.931.03.037a43.907 43.907 0 1 0 62 62.188q1.49-1.5 2.83-3.137L528.929 0zM601.7 0a43.959 43.959 0 0 1-4.94 56.24l.1.1.26-.237q-.309.334-.61.674l-41.05 41.1.06.057q-1.31 1.113-2.53 2.325a44.309 44.309 0 1 0 66.121 58.689l40.25-40.305-.01-.008a43.877 43.877 0 0 1 61.771 62.329l.16.165q.7-.674 1.43-1.317-.533.481-1.05.98a44.258 44.258 0 0 0-3.95 4.651L559.969 343.662l.03.037a43.906 43.906 0 0 0 62 62.185q1.479-1.49 2.81-3.116l155.622-156.087a44.171 44.171 0 0 0 3.59-3.167q1.075-1.116 2.07-2.306a43.882 43.882 0 0 1 59.4 64.507l.14.137-.19.182a44.547 44.547 0 0 0-3.85 4.48l-91.751 92.03.02.014q-.9.8-1.76 1.641a43.907 43.907 0 0 0 62 62.187q.83-.872 1.61-1.788l.02.02 89.542-89.818a44.5 44.5 0 0 0 7.05-5.691l.21-.231a44.787 44.787 0 0 1 30.88-12.377q.34.009.68.023V0zm-95.041 186.257a33.942 33.942 0 1 0 24.43 9.938 33.791 33.791 0 0 0-24.43-9.938z' transform='translate(-352.537 -.001)')
      
    svg#redDecorate(xmlns='http://www.w3.org/2000/svg' width='587.556' height='479.265' viewbox='0 0 587.556 479.265' preserveAspectRatio="xMinYMin meet")
      defs
        style.
          .cls-2{fill:#ff2a2a}
      path.cls-2(d='M0 0v356.524q.344-.014.688-.023a44.787 44.787 0 0 1 30.877 12.377l.209.231a44.492 44.492 0 0 0 7.047 5.691l89.545 89.818.02-.02q.781.916 1.611 1.788A43.907 43.907 0 1 0 192 404.2q-.856-.844-1.758-1.641l.014-.014-91.756-92.03a44.563 44.563 0 0 0-3.846-4.48l-.193-.182.137-.137a43.877 43.877 0 0 1 59.407-64.507q1 1.189 2.072 2.306a44.169 44.169 0 0 0 3.59 3.168l155.617 156.085q1.33 1.625 2.811 3.116a43.907 43.907 0 0 0 62-62.187l.037-.035-157.74-158.217a44.281 44.281 0 0 0-3.957-4.651q-.516-.5-1.047-.98.729.643 1.429 1.317l.164-.164a43.875 43.875 0 1 1 61.766-62.329l-.008.008 40.246 40.305a44.286 44.286 0 1 0 66.121-58.689q-1.219-1.211-2.529-2.325l.057-.057-41.043-41.1q-.3-.34-.61-.674l.258.237.1-.1A43.976 43.976 0 0 1 338.395 0zm411.166 0l98.722 99.02q1.338 1.636 2.828 3.137a43.907 43.907 0 0 0 62-62.188l.035-.037L534.94 0zm31.35 184.478a33.944 33.944 0 1 0 23.435 9.938 33.788 33.788 0 0 0-23.435-9.937z' transform='translate(-.001 -.001)')
      
    svg#greenDecorate(xmlns='http://www.w3.org/2000/svg' width='654.057' height='479.261' viewbox='0 0 654.057 479.261' preserveAspectRatio="xMinYMax meet")
      defs
        style.
          .cls-3{fill:#71c837}
      path.cls-3(d='M160.357 159.328A43.776 43.776 0 0 0 130 172.2q-.83.872-1.611 1.788l-.02-.02-89.547 89.82a44.5 44.5 0 0 0-7.047 5.691l-.209.232A44.787 44.787 0 0 1 .689 282.088q-.344-.009-.687-.023v356.519h338.393a43.975 43.975 0 0 1 4.945-56.239l-.1-.1-.258.241q.309-.333.61-.672l41.043-41.1-.057-.056q1.309-1.113 2.529-2.326a44.307 44.307 0 1 0-66.127-58.683l-40.24 40.3.008.008a43.875 43.875 0 0 1-61.766-62.329l-.164-.165q-.7.674-1.429 1.317.531-.481 1.047-.98a44.278 44.278 0 0 0 3.957-4.651l157.74-158.222-.037-.035a43.907 43.907 0 1 0-62-62.187q-1.479 1.49-2.811 3.116L159.67 391.908a44.182 44.182 0 0 0-3.59 3.168q-1.076 1.116-2.072 2.306A43.884 43.884 0 0 1 94.6 332.874l-.137-.137.193-.182a44.564 44.564 0 0 0 3.846-4.48l91.751-92.029-.014-.014q.9-.8 1.758-1.641a43.972 43.972 0 0 0-31.641-75.062zm459.364 289.318a33.941 33.941 0 1 0 24.424 9.936 33.791 33.791 0 0 0-24.424-9.936zm-76.646 74.912a43.776 43.776 0 0 0-30.359 12.874q-1.488 1.5-2.828 3.136l-98.722 99.015H534.94l39.811-39.93-.035-.03a43.973 43.973 0 0 0-31.641-75.065z' transform='translate(-.001 -159.323)')
      
    svg#yellowDecorate(xmlns='http://www.w3.org/2000/svg' width='587.556' height='490.661' viewbox='0 0 587.556 490.661' preserveAspectRatio="xMaxYMax meet")
      defs
        style.
          .cls-4{fill:#fc0}
      path.cls-4(d='M508.469 156.319a33.944 33.944 0 1 0 23.43 9.938 33.789 33.789 0 0 0-23.43-9.938zm271.272 11.4a43.972 43.972 0 0 0-31.64 75.062q.852.843 1.75 1.639l-.01.014 91.751 92.025a44.546 44.546 0 0 0 3.85 4.485l.07.068.1.135-.12.115q.551.588 1.08 1.2 1.3 1.7 2.76 3.271a43.834 43.834 0 0 1-63.24 60.039q-1-1.188-2.08-2.3a44.184 44.184 0 0 0-3.58-3.168L624.83 244.234q-1.339-1.634-2.83-3.134a43.907 43.907 0 0 0-62 62.187l-.03.037 157.741 158.215a44.3 44.3 0 0 0 3.95 4.649q.517.5 1.05.978-.729-.641-1.43-1.315l-.16.164a43.876 43.876 0 1 1-61.771 62.327l.01-.006-40.25-40.305a44.286 44.286 0 1 0-66.12 58.691q1.22 1.211 2.53 2.324l-.06.056 40.31 40.362a43.956 43.956 0 0 0 4.26 5.055l.18.17a43.863 43.863 0 0 1 1.49 52.288h338.392V290.458q-.34.014-.68.023a44.787 44.787 0 0 1-30.89-12.384l-.2-.222a44.489 44.489 0 0 0-7.05-5.693l-89.541-89.818-.02.018q-.78-.914-1.61-1.784a43.776 43.776 0 0 0-30.36-12.875zM397.018 531.953a43.972 43.972 0 0 0-31.64 75.063l-.03.03 39.81 39.93h123.771l-98.721-99.015q-1.339-1.635-2.83-3.134a43.776 43.776 0 0 0-30.36-12.874z' transform='translate(-352.537 -156.316)')

      
    .panelYellow(style="background-color: #ffcc00")
      h1 1
        span st
      p 統計近年淨灘的結果，所有收集到的垃圾重達五萬公斤有九成都是塑膠垃圾，「寶特瓶」的數量更是裡面的第一名
    .panelRed(style="background-color: #ff2a2a")
      h1 800
        span 萬
      p 依國人消費習慣與國內店數，包含早餐店、超商與手搖店，環保團體推估台灣人一天要用掉800萬根塑膠「吸管」
    .panelBlue(style="background-color: #448fff")
      h1 152
          span 億
      p 環保署統計台灣去年共用了152億個塑膠袋，平均每人每年使用660個，回收率不到1成
    .panelGreen(style="background-color: #71c837")
      h1 15
        span 億
      p 環保署統計國內一年產生包含塑膠杯、紙杯在內的「飲料杯」垃圾數量高達15億個

    .wrapper
      img.bigLogo(src="https://i.pinimg.com/originals/cd/e4/cc/cde4ccd3eb2c585a736327a2b2b0b7ac.png")
      .button 立即探索
    
    p.recommend 建議使用Chrome瀏覽器 解析度1366 x 768以上<br>以確保最佳瀏覽效果

    img.plastic#straw(src="https://i.pinimg.com/originals/1c/61/d0/1c61d09b84434c57e63146220263583b.png")
    img.plastic#bag(src="https://i.pinimg.com/originals/d9/3e/4c/d93e4cfb2675e22e3b0c969b8b24dd68.png")
    img.plastic#bottle(src="https://i.pinimg.com/originals/cb/25/8f/cb258ff9d66c60be65a5e1789444c8ce.png")
    img.plastic#cup(src="https://i.pinimg.com/originals/97/10/93/971093ec23d5b69eb9b388d2711c2aa2.png")

    script(src='assets/js/jquery-3.4.1.min.js')
    script(src='js/script.js')
    script(src='js/components/loading-page.js')

  