doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 塑膠危機 | 參考資料
    link(rel="shortcut icon" href="img/logo.png")
    link(rel="icon" type="image/png" href="img/logo.png" sizes="192x192")
    link(rel="apple-touch-icon" sizes="180x180" href="img/logo.png")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/problem.css')
  body
    include components/header
    include components/nav
    include components/loading-page
    .jumbotron.jumbotron-fluid(style="background-image: url(img/books.jpg)")
      svg.sectionBorder(xmlns='http://www.w3.org/2000/svg' width='1925' height='214.22595' viewbox='0 0 507.99999 56.68062' preserveaspectratio='xMidYMax meet')
        path(d='M0 42.62953C107.44235 42.24807 321.25799-1.0496 392.8862.01948c71.62824 1.06908 115.11381 15.50164 115.11381 15.50164v41.1595H0z' fill='#e6e6ea')
      .container(data-0="transform: translateY(0px); opacity: 1" data-500="transform: translateY(100px); opacity: 0")
        h1 參考資料
        p  
    section#pic-source
      .container 
        h1 圖片來源
        #photo
          h2 照片 | Photo
            p 本站所使用之照片均為無版權可免費使用之照片
          .flex-container
            a.img(href="https://pixabay.com/" target="_blank")
              p 前往網站
              img(src="img/pixabay.png", alt="")
            a.img(href="https://unsplash.com/" target="_blank")
              p 前往網站
              img(src="img/unsplash.png", alt="")
        #icon
          h2 圖示 | Icon
            p 未標示於此處之圖片均為團隊自行製作
          .flex-container.top
            .content
              .img 
                img(src="img/arrows.png", alt="")
              ul 
                li 作者: <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup" target="_blank">Pixelmeetup</a>
                li 來源: <a href="https://www.flaticon.com/"title="Flaticon" target="_blank">www.flaticon.com</a>
                li 授權: <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            .content
              .img 
                img(src="img/worldMap.png", alt="")
              ul 
                li 作者: <a href="https://www.amcharts.com/" title="Pixelmeetup" target="_blank">amChart</a>
                li 來源: <a href="https://www.amcharts.com/svg-maps/?map=worldRussiaSplit"title="Flaticon" target="_blank">www.amcharts.com</a>
                li 授權: <a href="https://creativecommons.org/licenses/by-nc/4.0/" title="Creative Commons BY 3.0" target="_blank">CC BY-NC 4.0</a>
          hr
          .content.flex-container.middle
            .img 
              img(src="img/freepik.png", alt="")
            .credit
              ul 
                li 作者: <a href="https://www.flaticon.com/authors/freepik" title="Pixelmeetup" target="_blank">freepik</a>
                li 來源: <a href="https://www.flaticon.com/"title="Flaticon" target="_blank">www.flaticon.com</a>
                li 授權: <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
          hr
          .content.flex-container.bottom
            .img 
              img(src="img/monkik.png", alt="")
            .credit
              ul 
                li 作者: <a href="https://www.flaticon.com/authors/monkik" title="Pixelmeetup" target="_blank">monkik</a>
                li 來源: <a href="https://www.flaticon.com/"title="Flaticon" target="_blank">www.flaticon.com</a>
                li 授權: <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    section#word-source
      .container 
        h1 參考文獻
        ul 
          li 
            h3 為什麼這些塑膠垃圾上了回收車，最後卻進焚化爐？
            a(href="https://www.natgeomedia.com/environment/article/content-4521.html" target="_blank") https://www.natgeomedia.com/environment/article/content-4521.html
          li 
            h3 台灣人日拋800萬根塑膠吸管　「戳」破限塑美夢？ – 今日觀點 Sight
            a(href="https://sight.nownews.com/20180130-3024" target="_blank") https://sight.nownews.com/20180130-3024
          li 
            h3 Plastic Pollution - Our World in Data 
            a(href="https://ourworldindata.org/plastic-pollution#" target="_blank") https://ourworldindata.org/plastic-pollution#
          li 
            h3 Fact Sheet: End Plastic Pollution | Earth Day Network
            a(href="https://www.earthday.org/2018/03/07/fact-sheet-end-plastic-pollution/" target="_blank") https://www.earthday.org/2018/03/07/fact-sheet-end-plastic-pollution/
          li 
            h3 Plastic Pollution: How Humans are Turning the World into Plastic
            a(href="https://youtu.be/RS7IzU2VJIQ" target="_blank") https://youtu.be/RS7IzU2VJIQ
          li 
            h3 What really happens to the plastic you throw away - Emma | TED-Ed
            a(href="https://ed.ted.com/lessons/what-really-happens-to-the-plastic-you-throw-away-emma-bryce#review" target="_blank") https://ed.ted.com/lessons/what-really-happens-to-the-plastic-you-throw-away-emma-bryce#review
          li 
            h3 Why Do Animals Eat Ocean Plastic?
            a(href="https://earthwiseradio.org/2016/11/why-do-animals-eat-ocean-plastic/" target="_blank") https://earthwiseradio.org/2016/11/why-do-animals-eat-ocean-plastic/
          li 
            h3 TAKE ACTION — Plastic Pollution Coalition
            a(href="https://www.plasticpollutioncoalition.org/take-action-1" target="_blank") https://www.plasticpollutioncoalition.org/take-action-1

    script(src='assets/js/jquery-1.11.3.min.js')
    script(src='js/components/nav.js')
    script(src='js/components/header.js')
    script(src='js/components/loading-page.js')